<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Worth One Minute (WOM) for Code Week | @ViewData["Title"]</title>

    <meta name="description" content="WOM is general-purpose rewarding platform based on a voucher exchange system." />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="skeleton-2.0.4/normalize.css" />
    <link rel="stylesheet" href="skeleton-2.0.4/skeleton.css" />
    <link rel="stylesheet" href="style.css" />

    <style type="text/css">
        .error {
            color: darkred;
        }
    </style>

    <meta property="og:url" content="https://codeweek.wom.social" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Worth One Minute for EU Code Week" />
    <meta property="og:description" content="DIGIT srl recognizes the social and educational value of computational thinking and coding events: on the occasion of Europe Code Week 2019, all public events registered on the Code Week portal will be rewarded with 60 WOM vouchers. " />
    <meta property="og:image" content="https://codeweek.wom.social/codeweek-wom-share.jpg" />
    <meta name="twitter:site" content="@@DigitSrl">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="three columns">&nbsp;</div>
                <div class="six columns centered">
                    <img src="wom-logo.jpg" alt="WOM logo" class="u-full-width" />
                </div>
                <div class="three columns">&nbsp;</div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <h1 class="centered">Worth&nbsp;One&nbsp;Minute<br />for EU&nbsp;Code&nbsp;Week</h1>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            @RenderBody()

            <div class="row">
                <div class="twelve columns centered">
                    <div class="language-switcher">
                        @Html.ActionLink("English", "Set", "Language", new { language = "en" }) |
                        @Html.ActionLink("Italiano", "Set", "Language", new { language = "it" })
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <p>WOM&nbsp;Platform&nbsp;&mdash;&nbsp;2019</p>
                    <p><a href="https://wom.social">More information</a></p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
