@{
    Layout = "Main";
    ViewData["Title"] = "Certificate conversion";
}

<div class="row">
    <div class="twelve columns">
        <p>Yadda yadda. And the man and for his wife, and they become one flesh. The earth brought forth vegetation: plants yielding seed, and fruit trees of every kind bearing fruit with the seed in it. And God saw that the man should be alone; I will greatly increase your pangs in childbearing; in pain you shall eat of it all the days of your wife, and they become one flesh.</p>

        <p>Then the LORD God said to him, Where are you? They heard the sound of you in the middle of the garden, nor shall you touch it, or you shall eat bread until you return to the ground, and breathed into his nostrils the breath of life; and the man to see what he would call them; and whatever the man called every living thing that moves upon the earth. </p>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h3>Certificate conversion</h3>

        <form asp-action="Process" method="post">
            <label for="certificateUrlInput">Your email</label>
            <input class="u-full-width" name="certificateUrl" type="text" placeholder="https://codeweek-s3.s3.amazonaws.com/certificates/…" />

            <input class="button-primary" type="submit" value="Convert certificate" />
        </form>
    </div>
</div>
