@using WomPlatform.Web.Api.ViewModel;
@model ConversionModelViewModel
@{
    Layout = "Main";
    ViewData["Title"] = "Certificate conversion";
}

<div class="row">
    <div class="twelve columns">
        <p>
            Many actions and activities done by individuals contribute to the common good and have an <i>intrinsic social value</i>, an effect known as <b>“positive externalities”</b> in economics. WOMs are digital vouchers designed to recognize the value of actions having such a positive effect and to reward them. <a href="https://wom.social">Check out the official Web site for more information</a>.
        </p>

        <p>
            <a href="https://digit.srl">DIGIT&nbsp;srl</a> recognizes the social and educational value of <i>computational thinking</i> and <i>coding</i> events: on the occasion of <b>Europe Code Week 2019</b>, all public events registered on the Code Week portal will be rewarded with 60&nbsp;WOM&nbsp;vouchers.
        </p>

        <p>
            If you have already registered and received the certificate of your Code Week event, use the <a href="#form">form below</a> to redeem your WOM&nbsp;vouchers.
        </p>

        <p class="warning-box">
            <span class="title">Before you proceed</span><br />
            Make sure to install the “WOM Pocket” mobile application before you start the conversion process (see below).
            Each Code&nbsp;Week event can be converted to WOM&nbsp;vouchers only once.
        </p>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h3>Mobile applications</h3>

        <p>
            In order to redeem WOM&nbsp;vouchers, you need the “WOM Pocket” mobile application.
            Please install the application before attempting to convert your Code Week certificate, to ensure that you are able to collect the generated vouchers.
        </p>
    </div>
</div>

<div class="row">
    <div class="six columns badge">
        <a href="https://play.google.com/store/apps/details?id=social.wom.pocket" title="Download WOM Pocket from Google Play">
            <img src="badge_google_play.png" alt="Google Play" />
        </a>
    </div>
    <div class="six columns badge">
        <a href="https://apps.apple.com/it/app/wom-pocket/id1466969163" title="Download WOM Pocket from App Store">
            <img src="badge_app_store.png" alt="Apple App Store" />
        </a>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h3>Using WOMs</h3>
            
        <p>
            WOM&nbsp;vouchers you collect on your “WOM&nbsp;Pocket” do not have a monetary value, but they are <b>a certificate of your effort</b>.
            Whoever wanting to reward you for your past efforts for Code&nbsp;Week can offer discounts or other services in exchange of WOMs.
        </p>

        <p>
            For instance, local shops may offer discounts on books, local municipalities may offer free parking, online businesses might offer discounts on other products, and so on.
            After Code&nbsp;Week we will announce some of the WOM usage opportunities on the <a href="https://wom.social/">WOM&nbsp;portal</a>.
        </p>

        <p>Check out the following webinar for an overview of the WOM&nbsp;Platform and how to redeem vouchers for your Code&nbsp;Week events (in Italian).</p>

        <p class="centered">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0j0GSo_RVgo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h2 id="form">Certificate conversion</h2>
    </div>
</div>
<form asp-action="Process" method="post">
    <div class="row">
        <div class="six columns">
            <label for="certificateUrlInput">Certificate URL:</label>
            <input class="u-full-width" name="certificateUrl" type="text" placeholder="https://codeweek-s3.s3.amazonaws.com/certificates/…" value="@Model.CertificateUrl" />

            @if (Model.Error == ConversionModelViewModel.ConversionError.CertificateUrlInvalid) {
                <p class="error">Certificate URL is not valid.</p>
            }
            @if (Model.Error == ConversionModelViewModel.ConversionError.CertificateNotExisting) {
                <p class="error">Certificate does not exist.</p>
            }
        </div>
        <div class="six columns">
            <label for="eventPageUrl">Event page URL:</label>
            <input class="u-full-width" name="eventPageUrl" type="text" placeholder="https://codeweek.eu/view/…" value="@Model.EventPageUrl" />

            @if (Model.Error == ConversionModelViewModel.ConversionError.EventUrlInvalid) {
                <p class="error">Event page URL is not valid.</p>
            }
            @if (Model.Error == ConversionModelViewModel.ConversionError.EventUrlFailedToCheck) {
                <p class="error">Event page does not exist or is invalid.</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <input class="button-primary" type="submit" value="Convert certificate" />

            @if (Model.Error == ConversionModelViewModel.ConversionError.CertificateNotExisting) {
                <p class="error">The certificate must exist: please check that the URL was input correctly. Please copy the direct link to the certificate PDF.</p>
            }
            @if (Model.Error == ConversionModelViewModel.ConversionError.CertificateAlreadyConverted) {
                <p class="error">The event has <i>already</i> been converted into WOM&nbsp;Vouchers.</p>
            }
            @if (Model.Error == ConversionModelViewModel.ConversionError.EventUrlFailedToCheck) {
                <p class="error">The event page appears not to exist or does not contain valid data. Please copy the direct link to your event on the Code&nbsp;Week portal.</p>
            }
            @if (Model.Error == ConversionModelViewModel.ConversionError.InternalWomGenerationError) {
                <p class="error">Whoops! Failed to generate WOM&nbsp;Vouchers: we're looking into the error, sorry!</p>
            }
            @if (Model.Error == ConversionModelViewModel.ConversionError.EventCertificateIdDifform) {
                <p class="error">Event page and certificate refer to different events.</p>
            }
            @if (Model.Error == ConversionModelViewModel.ConversionError.EventTooOld) {
                <p class="error">The event is too old: you may only conver events for Code Week 2019.</p>
            }

        </div>
    </div>
</form>
